<%
style_table = [
#	[/label/, {:class => "control-label"}],
#	[/(input|select|textarea).*?action/, {:filtr_name => form_item.filtr_name, :class => "updatable form-control"}],
#	[/(input|select).*?action/, {:class => "updatable "}],
#	[/a.*?href.*?\/a/, {:class => "btn ", :'data-remote' => true, :turbolinks => true}],
#	[/input.*?type.*?submit/, {:class => "btn btn-primary"}],
]

form_html_options = {:id =>form_item.filtr_name, :class => "form-horizontal", :turbolinks => true}
form_html_options = form_html_options.merge(html) if local_assigns[:html]

form_options = {:method => 'get', :remote => false, :authenticity_token => true}

form_options = form_options.merge(options) if local_assigns[:options]
form_options = form_options.merge(form_html_options)

%>

<% show_debug = false %>
<%= params['customer_calls_generation_params_filtr'] if show_debug %>
<%= session[:filtr]["calls_stat_options_filtr"] if false %>

<% if form_item.caption %> 
  <legend><%= form_item.caption %></legend>
<% end %>

<% 
sliced_fields = []
slice_number = 4
i = 0
form_item.fields(form_item.filtr_name) do |label, field|
	sliced_fields[i] ||= [] 
	sliced_fields[i] << [add_css(label, style_table),	add_css(field, style_table)] 
	i += 1 if sliced_fields[i].size == slice_number
end

%>

<%= form_tag(form_item.action_on_submit, form_options) do %>
      <% sliced_fields.each do |slice|%>
      	<div class="row">
		  <% slice.each do |label, field| %>
		  	<div class="col-xs-3">
		  		<label>
		  			<span><%= label %></span>
		  			<%= field %>
		  		</label>
		    </div>
		  <% end %>
		</div>
		<br />
	  <% end %>
<% end %>
