<%
style_table = [
	[/a.*?href/, {:'data-remote' => true, :turbolinks => true}],
]

table_html_options = {:id =>table.table_name, :class => 'table table-hover table-bordered table-condensed'}
table_html_options = form_html_options.merge(html) if defined?(html)
table_html_options = table_html_options.collect { |key, value| "#{key.to_s}=\"#{value.to_s}\""}.join(" ").html_safe

%>

<%= will_paginate(table.model, :class=>'pagination pagination-centered', :param_name => table.pagination_param_name) %>

<% show_debug = false %>

<%= table.model.to_sql if show_debug %>
<%= params if show_debug %>
<%= session[:filtr] if show_debug %>
<%= session[:current_id] if false %>
<div><%=session[:progress_bar] if false%></div>

<% if table.caption %> 
  <legend><%= table.caption %></legend>
<% end %>

<table <%= table_html_options %> >
  <thead>
    <tr>
      <% table.heads.each do |head| %>
        <th>
        	<%= head %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% table.model.each do |item| %>
    <tr <%= table.raw_details(item) %> >
      <% table.fields(item) do |field| %>
        <td>
        	<%= add_css(field, style_table) %>
        </td>
      <% end %>
<%= render :partial => 'customer/tarif_optimizator/results_for_customer/tarif_results_details', :layout => 'application/layouts/model_table', :locals => {:table => controller.customer_tarif_detail_results}%>
    <% '</tr>' %>
    <% end %>  	
  </tbody>
</table>