<% content_for :title, "Регистрация" %>

<%
	input_html = {:class => "form-control  "}
	link_to_html = {:class => "btn btn-link", :type => 'button'}
	submit_html = {:class => "btn btn-primary"}
	label_html = {:class => "control-label "}
%>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {:class => "edit_form" }) do |f| %>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) if current_user %>

   <% if !devise_error_messages!.blank? %>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		<%= devise_error_messages! %>
	</div>
  <% end %>

  <div class="row">
	  <div class="col-xs-12 text-center‏">
	  	<%= f.label :name, label_html %>
  		<%= f.text_field( :name, {autofocus: true }.merge(input_html) ) %>
  	</div>
  </div>
  <br />

  <div class="row">
	  <div class="col-xs-12 text-center‏">
	  	<%= f.label :email, label_html %>
  		<%= f.email_field( :email, {}.merge(input_html) ) %>
  	</div>
  </div>
  <br />

  <div class="row">
	  <div class="col-xs-12 text-center‏">
  	<%= f.label :password, "Новый пароль", label_html %>
  	<% if @validatable %><i>(<%= @minimum_password_length %> знаков минимум)</i><% end %>
    <%= f.password_field :password, {autocomplete: "off"}.merge(input_html) %>
  	</div>
  </div>
  <br />


  <div class="row">
	  <div class="col-xs-12 text-center‏">
  	<%= f.label :password_confirmation, "Подтверждение нового пароля", label_html %>
    <%= f.password_field :password_confirmation, {autocomplete: "off"}.merge(input_html) %>
  	</div>
  </div>
  <br />

  <div class="row">
	  <div class="col-xs-12 text-center‏">
  		<%= f.submit "Зарегистрировать", submit_html %>
  	</div>
  </div>
  <br />
<% end %>

<%= render "devise/shared/links" %>
