<%
style_table = [
	[/label/, {:class => "control-label"}],
	[/(input|select|textarea)/, {:filtr_name => form_item.form_name}],
	[/(?=.*(input|select))(?!.*(password))(.+)/, {:class => "updatabl"}],
	[/input.*?type.*?submit/, {:class => "btn "}],
	[/a.*?href.*?\/a/, {:class => "btn ", :'data-remote' => true}], #, :turbolinks => true
]

#form_html_options = {:class => "form-horizontal", :turbolinks => true, :as => form_item.form_name}
form_html_options = {:id =>form_item.form_name, :class => "form-horizontal", :turbolinks => true, :as => form_item.form_name}
form_html_options = form_html_options.merge(html) if defined?(html)

form_options = {:authenticity_token => true, :remote => false, :include_id => true}
#form_options = {:action => form_item.action_on_submit, :method => 'post', :authenticity_token => true, :remote => false, :include_id => true}

form_options = form_options.merge(options) if defined?(options)
form_options = form_options.merge(form_html_options)
form_options.merge!({:url => url, :as => as}) if defined?(url) and url

%>


<% if form_item.caption %> 
  <legend><%= form_item.caption %></legend>
<% end %>

   <% if form_item.model.errors.any? %>
    <ul class="">
        <div class="alert alert-error alert-block"><button type="button" class="close" data-dismiss="alert">&times;</button>
	      <% form_item.model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
    	</div>
    </ul>
  <% end %>
  
<%= form_for(form_item.model, form_options) do |form|%>
	<% if form_options[:class] =~ /form-inline/ %>
	  <% form_item.fields(form) do |label, field| %>
	      <%= add_css(label, style_table ) %>
	      <%= add_css(field, style_table) %>
	  <% end %>
	<% else %>
		<fieldset>
		  <% form_item.fields(form) do |label, field| %>
		    <div class="control-group">
		      <%= add_css(label, style_table ) %>
		      <div class="controls"><%= add_css(field, style_table) %></div>
		    </div>
		  <% end %>
		</fieldset>
	<% end %>
<% end  if form_item.model %>


