<%= active if false %>
<%= session[:current_tabs_page]  if false %>

<%
name ||= 'tabs' 
active ||= -1 
i = 0

@content_from_tabs = []
content_from :tabs do |caption, body, type| 
  @content_from_tabs << [caption, body, type]
end 

%>

<nav class="navbar top_menu ">
	<div class="container-fluid">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#<%= "#{name}_#{i.to_s}" %>" aria-expanded="false">
			<% @content_from_tabs.each do |caption, body| %>
		    	<span class="sr-only"><%= caption %></span>
		    	<% i += 1 %>
		    <% end %>
	      </button>
	    </div>
	    
		<% i = 0 %>
		
	   <div class="collapse navbar-collapse" id="#<%= "#{name}_#{i.to_s}" %>">
			<ul class="nav navbar-nav">
				<% @content_from_tabs.each do |caption, body, type| %>
					<% case type %>
					<% when 'dropdown-menu' %>
				    	<li class="dropdown <%= (i==active) ? 'active' : '' %>">
				    		<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">			    			
				    				<%= caption %>
				    			<span class="caret"></span>
				    		</a>
			    			<%= body %>
				    	</li>
					<% when 'link' %>
						<li><%= body %></li>						
					<% else %>
						<%= body %>
					<% end %>
					
			    	<% i += 1 %>
			    <% end %>
			</ul>
		</div>		
	</div>
</nav>

