<%
style_table = []

#form_html_options = {:id =>form_item.filtr_name, :class => "form-horizontal", :turbolinks => true}
#form_html_options = form_html_options.merge(html) if defined?(html)
#form_options = {:method => 'get', :remote => false, :authenticity_token => true}
#form_options = form_options.merge(options) if defined?(options)
#form_options = form_options.merge(form_html_options)
%>

<legend><%= progress_bar.caption %></legend>
<div class="alert-error"><%= flash[:alert]%></div>

<div><%=session[:progress_bar][progress_bar.progress_bar_name][:current_value] if false%></div>
<div><%=session[:progress_bar][progress_bar.progress_bar_name]['current_value'] if false%></div>
<div><%=session[:progress_bar][progress_bar.progress_bar_name][:max_value] if false%></div>
<div><%=session[:progress_bar][progress_bar.progress_bar_name]['max_value'] if false%></div>
<div><%=session[:progress_bar][progress_bar.progress_bar_name] if false %></div>
<br />
<div><%=progress_bar.current_value  if false %></div>
<div><%=progress_bar.max_value  if false %></div>
<div><%="session #{session[:tarif_options_slices] } ddd" if false %></div>
<br />
<div><%=session[:tarifs_slices]  if false %></div>

<div class="progress">
  <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%=progress_bar.current_value%>" aria-valuemin="<%=progress_bar.min_value%>" 
  	   aria-valuemax="<%=progress_bar.max_value%>" action_name="<%=progress_bar.action_on_update_progress%>" 
  	   id="<%= progress_bar.progress_bar %>" current_progress_value="<%=progress_bar.current_value_percent %>"
  	   style="width: <%=progress_bar.current_value_percent * 100%>%; background-color: rgb(0, 336, 304);">
    <span class="sr-only-111"><%=progress_bar.current_value%> from <%= progress_bar.max_value %></span>
  </div>
</div>

