<% content_for :title, "Рекомендации по выбору тарифов и опций" %>

<div class="content">
	<%= render(:partial => 'demo/home/results_for_customer/description', :locals => {:demo_result_description => controller.demo_result_description}) %>
</div>
<br/>
<div class="row">
	<div class="col-xs-2">
		<%= link_to('Выбрать рекомендацию', demo_home_recommendation_select_path, {:class => "btn btn-success", :type =>"button"}) %> 
	</div>
	<div class="col-xs-2">
		<%= link_to('Зарегистрироваться', new_user_path, {:class => "btn btn-success", :type =>"button"}) %> 
	</div>
	<div class="col-xs-1">
		<%= link_to('Войти', demo_login_path, {:class => "btn btn-success", :type =>"button"}) %> 
	</div>
	<div class="col-xs-2">
		<%= link_to('На главную страницу', root_path('', :anchor => false), {:class => "btn btn-success", :type =>"button", :remote => false}) %>
	</div>
</div>
<br/>

<!--
<%= render :partial => 'demo/home/results_for_customer/result_select_column', :layout => 'application/layouts/accordion', :locals => {:name => 'result_select_column_accord', :active => session[:current_accordion_page]['result_select_column_accord'].to_i} %>
-->

<%= render :partial => 'demo/home/results_for_customer/results_for_customer' %>
