<% content_for :title, "Вход" %>

<%
	input_html = {:class => "form-control  "}
	link_to_html = {:class => "btn btn-primary", :type => 'button', :'data-remote' => true, :method => 'get', :turbolinks => true}
	submit_html = {:class => "btn btn-primary"}
	label_html = {:class => "control-label "}
%>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => "", :'data-remote' => true, :'data-no-turbolink'=> false}) do |f| %>
  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) if true or current_user %>

   <% if !devise_error_messages!.blank? or !alert.blank? or !notice.blank? %>
	<div class="alert alert-warning alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
		<%= devise_error_messages! %>
	</div>
  <% end %>

  <div class="row ">
  	  <div class="col-xs-4"></div>
	  <div class="col-xs-4">
	  	<%= f.label :email, label_html %>
  		<%= f.email_field( :email, {autofocus: true}.merge(input_html) ) %>
   	  </div>
  	  <div class="col-xs-4"></div>
  </div>
  
  <div class="row">
  	  <div class="col-xs-4"></div>
	  <div class="col-xs-4">
		  <%= f.label :password, label_html %>
		  <%= f.password_field :password, {autocomplete: "off"}.merge(input_html) %>
  	  </div>
  	  <div class="col-xs-4"></div>
  </div>

  <% if devise_mapping.rememberable? -%>
  <div class="row">
  	  <div class="col-xs-4"></div>
	  <div class="col-xs-4">
    	<%= f.label :remember_me, label_html %>
    	<%= f.check_box :remember_me, input_html %> 
  	  </div>
  	  <div class="col-xs-4"></div>
  </div>
  <% end -%>

  <div class="row">
  	  <div class="col-xs-4"></div>
	  <div class="col-xs-4">
  		<%= f.submit t(:login), submit_html %>
  	  </div>
  	  <div class="col-xs-4"></div>
  </div>
<% end %>


<%= render "devise/shared/links" %>
