<% title "Список описаний тарифов и опций операторов МТС, «Билайн», «Мегафон», TELE2" %>
<% description "Список описаний тарифов и опций операторов мобильных операторов МТС, «Билайн», «Мегафон», TELE2. \
				www.mytarifs.ru — помогаем принять правильное решение! Предлагаем широкий выбор средств для анализа услуг \
				в области мобильной связи." %>
<% keywords "список описаний тарифов и опций операторов" %>	
<% content_for :hide_title, 'true' %>

<header id="first">
    <div class="header-content header-content-smaller">
        <div class="inner">
            <h1 class="">Список описаний тарифов и опций</h1>
            <h5>Здесь вы можете выбрать и посмотреть подробное описание тарифов и опций. 
            	Найти нужный тариф можно с помощью фильтра</h5>
            <hr>
        </div>
    </div>
</header>

<div class="btn-group" role="group" aria-label="...">
	<% operator_link_html = {:class => "btn", :type =>"button", :remote => false} %>
	<%= link_to( image_tag('mts.png'), tarif_classes_by_operator_path(Category::Operator.find(Category::Operator::Const::Mts)), operator_link_html) %>
	<%= link_to( image_tag('beeline.png'), tarif_classes_by_operator_path(Category::Operator.find(Category::Operator::Const::Beeline)), operator_link_html) %>
	<%= link_to( image_tag('megafon.png'), tarif_classes_by_operator_path(Category::Operator.find(Category::Operator::Const::Megafon)), operator_link_html) %>
	<%= link_to( image_tag('tele2.png'), tarif_classes_by_operator_path(Category::Operator.find(Category::Operator::Const::Tele2)), operator_link_html) %>
</div>

<%= render :partial => 'tarif_class_filtr', :layout => 'application/layouts/filtr_form_n_columns', :locals => {:form_item => tarif_class_filtr}%>
<br />
<%= render :partial => 'tarif_classes', :layout => 'application/layouts/model_table', :locals => {:table => tarif_classes}%>

