<% title t('.title') %>
<% content_for :hide_title, 'true' %>

<header id="first">
    <div class="header-content header-content-smaller">
        <div class="inner">
            <h1 class="cursive"><%= t('.title') %></h1>
            <h5>Сравнение операторов и тарифов подготовлено следующим образом.
				Мы смоделировали несколько типичных моделей поведения пользователей мобильной связи.
				После этого для каждого оператора выбрали лучший тариф и опции по стоимости пользования.
				При выборе лучшего тарифа мы накладывали ограничения по набору услуг операторов.
				Детали сравнения указаны в описании сравнения</h5>
            <hr>
            <h4>Рейтинг не учитывает ваши особенности пользования мобильной связи. Поэтому мы предлагаем вам подобрать тариф и опции.</h4>
            <%= link_to "Начать подбор тарифа", customer_calls_set_calls_generation_params_path, {:class => "btn btn-primary btn-xl"} %>
        </div>
    </div>
</header>

<p>
<%= link_to( t('.new_comparison_optimization_button'), new_comparison_optimization_path, 
	{:class => "btn btn-success", :type => 'button'})  if user_type == :admin %>
<% render :partial => 'comparison/optimizations/information/index' %>
</p>

<% if false %>
	<%= render :partial => 'optimizations_table', :layout => 'application/layouts/model_table', :locals => {:table => controller.comparison_optimizations_table} %>
<% else %>
	<%= render :partial => 'optimizations_panels', :layout => 'application/layouts/model_panels', 
		:locals => {:table => controller.comparison_optimizations_table, :panels_in_row => 2}  %>
<% end %>

