<% content_for :title, t('.title') %>
<% content_for :hide_title, 'true' %>

<header id="first">
    <div class="header-content header-content-smaller">
        <div class="inner">
            <h1 class="cursive"><small><%= controller.comparison_optimization_form.model.name %></small></h1>
            <hr />
            <ul >
            <% controller.comparison_optimization_form.model.description.split(". ").each do |desc_item| %>
            	<li class="pull-left"><%= desc_item %></li><br />
            <% end %>	
            </ul>    
            <hr>
            <h4>Рейтинг не учитывает ваши особенности пользования мобильной связи. Поэтому мы предлагаем вам подобрать тариф и опции.</h4>
            <%= link_to "Начать подбор тарифа", customer_calls_set_calls_generation_params_path, {:class => "btn btn-primary btn-xl"} %>
        </div>
    </div>
</header>


<%= render :partial => 'optimization', :layout => 'application/layouts/model_show', :locals => {:form_item => controller.comparison_optimization_form} %>

<%if false %>
	<%= render :partial => 'groups_table', :layout => 'application/layouts/model_table', 
		:locals => {:table => controller.comparison_groups}%>
<% else %>
	<%= render :partial => 'groups_panels', :layout => 'application/layouts/model_panels', 
		:locals => {:table => controller.comparison_groups, :panels_in_row => 3}%>
<% end %>
