<% content_for :title, t('.title') %>

<%= render :partial => 'tarif_optimizators/all_options/input/information' %>
<%= render :partial => 'tarif_optimizators/shared/how_tarif_option_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/shared/how_service_scope_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/all_options/input/help' %>


<p>

<%= render(:partial => 'tarif_optimizators/all_options/input/calculation_choices', :layout => 'application/layouts/filtr_form_n_columns', 
	    :locals => {:form_item => calculation_choices} ) %>
	<%= link_to(t('tarif_optimizators.all_options.index.calculate_link'), tarif_optimizators_all_options_recalculate_path, {:class => "btn btn-primary", :type =>"button"}) %>
	<%= link_to(t('tarif_optimizators.all_options.index.result_run_link'), result_service_sets_result_path(result_run_id), {:class => "btn btn-primary", :type =>"button"}) %>
</p>

