<% content_for :title, "Подбор тарифа > Расчет стоимости для определенного тарифа и набора опций > Задание параметров " %>

<p>
<%= render :partial => 'tarif_optimizators/fixed_services/input/information' %>
<%= render :partial => 'tarif_optimizators/shared/how_tarif_option_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/shared/how_service_scope_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/fixed_services/input/help' %>
</p>

<p>
<%= link_to('Подобрать тариф', tarif_optimizators_fixed_services_recalculate_path, {:class => "btn btn-primary", :type =>"button"}) %>
<%= link_to('Посмотреть результаты подбора тарифов', result_path(result_run_id), {:class => "btn btn-primary", :type =>"button"}) %>
</p>

<%= render(:partial => 'tarif_optimizators/fixed_services/input/calculation_choices', :layout => 'application/layouts/filtr_form_group', 
	    :locals => {:form_item => calculation_choices} ) %>
<%= render(:partial => 'tarif_optimizators/fixed_services/input/services_for_calculation_select', :layout => 'application/layouts/filtr_form_group', 
	    :locals => {:form_item => services_for_calculation_select} ) %>

