<% content_for :title, t('.title') %>

<p>
<%= render :partial => 'tarif_optimizators/limited_scope/input/information' %>
<%= render :partial => 'tarif_optimizators/shared/how_tarif_option_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/shared/how_service_scope_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/limited_scope/input/help' %>
</p>

<p>
<%= link_to(t('tarif_optimizators.limited_scope.index.calculate_link'), tarif_optimizators_limited_scope_recalculate_path, {:class => "btn btn-primary", :type =>"button"}) %>
<%= link_to(t('tarif_optimizators.limited_scope.index.result_run_link'), result_path(result_run_id), {:class => "btn btn-primary", :type =>"button"}) %>
</p>

<%= render(:partial => 'tarif_optimizators/limited_scope/input/calculation_choices', :layout => 'application/layouts/filtr_form_n_columns', 
	    :locals => {:form_item => calculation_choices} ) %>

<%= render(:partial => 'tarif_optimizators/limited_scope/input/service_categories_select', :layout => 'application/layouts/filtr_form_n_columns', 
        :locals => {:form_item => service_categories_select} ) %>
