<% content_for :title, "Загрузка детализации звонков" %>


<%= render :partial => 'information' %>
<%= render :partial => 'attention' %>

<form class="form-inline">
  <div class="form-group">
  	<p>
		<%= render :partial => 'call_run_choice' %>
		<%= link_to('Редактировать описание моделирования', customer_call_runs_path, {:class => "btn btn-primary", :type =>"button"}) %>		
	</p>
  </div>
</form>  	   
<br />

<%= render(:partial => 'customer/history_parsers/user_params', :layout => 'application/layouts/filtr_form_2_columns', :locals => {:form_item => user_params_filtr}) %>

<%= render :partial => 'upload_form' %>

<h3>Результаты анализа детализации звонков</h3>

<%= render :partial => 'call_history_tabs', :layout => 'application/layouts/tabs', 
      :locals => {:name => 'call_history_tabs', :active => session[:current_tabs_page]['call_history_tabs'].to_i} %>
      

