<div class="navbar dropdown pull-left">
	<div class="navbar-inner">
		<a class="brand " data-toggle="dropdown">Admin menu<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li class="dropdown-submenu">
				<a>Tarifs</a>
				<ul class="dropdown-menu">
					<li><%= link_to 'Tarif lists', tarif_lists_path %></li>
					<li><%= link_to 'Tarif classes', tarif_classes_path %></li>
					<li><%= link_to 'Price lists', price_lists_path %></li>
					<li><%= link_to 'Parameters', parameters_path %></li>
					<li><%= link_to 'Service categories', service_categories_path %></li>
					<li><%= link_to 'Service category groups', service_category_groups_path %></li>
					<li><%= link_to 'Price formulas', price_formulas_path %></li>
					<li><%= link_to 'Standard price formulas', price_standard_formulas_path %></li>
				</ul>
			</li>	
			<li class="dropdown-submenu">
				<a>Customer servies</a>
				<ul class="dropdown-menu">
					<li><%= link_to 'Set params for generating calls', customer_calls_set_calls_generation_params_path %></li>
					<li><%= link_to 'Upload and parse call history', customer_history_parser_prepare_for_upload_path %></li>
					<li><%= link_to 'View calls', customer_calls_path %></li>
					<li><%= link_to 'Tarif optimization', customer_tarif_optimizator_index_path %></li>
					<li><%= link_to 'Tarif results', customer_optimization_results_show_results_path %></li>
					<li><%= link_to 'Tarif customer results', customer_optimization_results_show_customer_results_path %></li>
					<li><%= link_to 'Additional calls and tarif info', customer_optimization_results_show_additional_info_path %></li>
		
				</ul>
			</li>	
			<li><%= link_to 'users', users_path %></li>
			<li><%= link_to 'categories', categories_path %></li>
		</ul>
	</div>
</div>

