<div class="">
	<div class="">
		<a class="brand">Основное меню<span class=""></span></a>
		<ul class="">
			<li><%= link_to 'Главная страница', root_path %></li>
			
			<li><%= link_to 'Моделирование звонков', demo_calls_set_calls_generation_params_path if
				 controller.customer_has_free_calls_modelling_trials? %></li>
				 
			<li><%= link_to 'Загрузка истории звонков', demo_history_parsers_prepare_for_upload_path if
				 controller.customer_has_free_history_parsing_trials? %></li>
				 
			<li><%= link_to 'Звонки', demo_calls_path if
				 controller.customer_has_calls_loaded? %></li>
				 
			<li><%= link_to 'Подбор тарифа', demo_tarif_optimizators_index_path if
				 controller.customer_has_free_tarif_optimization_trials? %></li>
				 
			<li><%= link_to 'Результаты подбора тарифа', demo_optimization_results_show_customer_results_path if
				 controller.customer_has_tarif_optimized? %></li>
				 
			<li><%= link_to 'Перевод средств', new_demo_payments_path %></li>
		</ul>
	</div>
</div>

