<%= link_to image_tag("logo.png", :alt => 'Brand'), root_path('', :anchor => false), {:class => "nav navbar-brand", :remote => false} %>
<div class="nav navbar-collapse">
	<ul class="nav navbar-nav navbar-right">
		<li><%= link_to image_tag("beeline.png", :alt => 'Beeline'), 'http://www.beeline.ru' %></li>
		<li><%= link_to image_tag("megafon.png", :alt => 'Megafon'), 'http://www.megafon.ru' %></li>
		<li><%= link_to image_tag("mts.png", :alt => 'MTS'), 'http://www.mts.ru' %></li>
		<li><%= link_to image_tag("", :alt => 'Tele2'), 'http://tele2.ru/' %></li>
	</ul>
</div>
