<div class="">
	<div class="">
		<a class="brand"> User menu<span class=""></span></a>
		<ul class="">
			<li><%= link_to 'Set params for generating calls', customer_calls_set_calls_generation_params_path %></li>
			<li><%= link_to 'Upload and parse call history', customer_history_parser_prepare_for_upload_path %></li>
			<li><%= link_to 'View calls', customer_calls_path %></li>
			<li><%= link_to 'Tarif optimization', customer_tarif_optimizator_index_path %></li>
			<li><%= link_to 'Tarif results', customer_tarif_optimizator_show_results_path %></li>
			<li><%= link_to 'Additional calls and tarif info', customer_tarif_optimizator_show_additional_info_path %></li>
		</ul>
	</div>
</div>

