<% title "Подбор выгодного тарифа для выбранного оператора (МТС, «Билайн, «Мегафон», TELE2)" %>
<% description "Подбор выгодного тарифа для выбранного оператора (МТС, «Билайн, «Мегафон», TELE2).  \
				www.mytarifs.ru — помогаем принять правильное решение! Предлагаем широкий выбор средств для анализа услуг \
				в области мобильной связи." %>
<% keywords "подбор выгодного тарифа для выбранного оператора" %>	
<% content_for :hide_title, 'true' %>

<header id="first">
    <div class="header-content header-content-smaller">
        <div class="inner">
            <h1 class="cursive"><%= t('.title') %></h1>
            <h5>В данном расчете вы можете ограничить список мобильных операторов, для которых подбирается тариф.
			Этот вариант подходит для тех, кто не планирует менять своего оператора.</h5>
			<%= link_to(t('tarif_optimizators.fixed_operators.index.calculate_link'), tarif_optimizators_fixed_operators_recalculate_path, 
				{:class => "btn btn-primary btn-xl", :type =>"button", :rel => "nofollow"}) %>
            <hr>
        </div>
    </div>
</header>

<div class="panel panel-default" >
	<div class="panel-heading"><h4> Выбор операторов </h4></div>
	<div class="panel-body">
		<%= render(:partial => 'tarif_optimizators/fixed_operators/input/services_select', :layout => 'application/layouts/filtr_form_n_columns', 
		        :locals => {:form_item => services_select} ) %>
	</div>
</div>

<div class="panel panel-default" >
	<div class="panel-heading"><h4> Сохранение результатов подбора тарифов</h4></div>
	<div class="panel-body">
		<%= render(:partial => 'tarif_optimizators/fixed_operators/input/calculation_choices', :layout => 'application/layouts/filtr_form_n_columns', 
			    :locals => {:form_item => calculation_choices} ) %>		
	</div>
	<div class="panel-footer">
		<%= link_to(t('tarif_optimizators.fixed_operators.index.result_run_link'), result_service_sets_result_path(result_run_id), 
			{:class => "btn btn-primary", :type =>"button", :rel => "nofollow"}) %>
		<%= render :partial => 'tarif_optimizators/fixed_operators/input/help' %>
		<%= render :partial => 'tarif_optimizators/shared/how_tarif_option_counted_for_user_types' %>
		<%= render :partial => 'tarif_optimizators/shared/how_service_scope_counted_for_user_types' %>
	</div>
</div>