<% content_for :title, "Подбор тарифа > Подбор только для выбранных операторов > Задание параметров " %>

<p>
<%= render :partial => 'tarif_optimizators/fixed_operators/input/information' %>
<%= render :partial => 'tarif_optimizators/shared/how_tarif_option_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/shared/how_service_scope_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/fixed_operators/input/help' %>
</p>

<p>
<%= link_to('Подобрать тариф', tarif_optimizators_fixed_operators_recalculate_path, {:class => "btn btn-primary", :type =>"button"}) %>
<%= link_to('Посмотреть результаты подбора тарифов', result_runs_results_path, {:class => "btn btn-primary", :type =>"button"}) %>
</p>

<%= render(:partial => 'tarif_optimizators/fixed_operators/input/calculation_choices', :layout => 'application/layouts/filtr_form_group', 
	    :locals => {:form_item => calculation_choices} ) %>

<%= render(:partial => 'tarif_optimizators/fixed_operators/input/services_select', :layout => 'application/layouts/filtr_inline_form', 
        :locals => {:form_item => services_select} ) %>
