<% content_for :title, t('.title') %>

<p>
<%= render :partial => 'tarif_optimizators/fixed_operators/input/information' %>
<%= render :partial => 'tarif_optimizators/shared/how_tarif_option_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/shared/how_service_scope_counted_for_user_types' %>
<%= render :partial => 'tarif_optimizators/fixed_operators/input/help' %>
</p>

<p>
<%= link_to(t('tarif_optimizators.fixed_operators.index.calculate_link'), tarif_optimizators_fixed_operators_recalculate_path, {:class => "btn btn-primary", :type =>"button"}) %>
<%= link_to(t('tarif_optimizators.fixed_operators.index.result_run_link'), result_path(result_run_id), {:class => "btn btn-primary", :type =>"button"}) %>
</p>

<%= render(:partial => 'tarif_optimizators/fixed_operators/input/calculation_choices', :layout => 'application/layouts/filtr_form_n_columns', 
	    :locals => {:form_item => calculation_choices} ) %>

<%= render(:partial => 'tarif_optimizators/fixed_operators/input/services_select', :layout => 'application/layouts/filtr_form_n_columns', 
        :locals => {:form_item => services_select} ) %>
