<ul class="dropdown-menu top_menu">
	<li><%= link_to 'Tarif classes description', tarif_classes_path %></li>
	<li><%= link_to 'Set params for generating calls', customer_calls_set_calls_generation_params_path %></li>
	<li><%= link_to 'Upload and parse call history', customer_history_parsers_prepare_for_upload_path %></li>
	<li><%= link_to 'View calls', customer_calls_path %></li>
	<li><%= link_to 'Tarif optimization', customer_tarif_optimizators_index_path %></li>
	<li><%= link_to 'Tarif results', customer_optimization_results_show_results_path %></li>
	<li><%= link_to 'Tarif customer results', customer_optimization_results_show_customer_results_path %></li>
	<li><%= link_to 'Additional calls and tarif info', customer_optimization_results_show_additional_info_path %></li>
	<li><%= link_to 'Move optimization results', customer_optimization_result_movers_new_path %></li>
</ul>

