<% content_for :title, t('.title') %>

<% link_to_html = {:class => "btn btn-success", :type =>"button", :remote => true} %>
<p>
<%= render :partial => 'customer/call_runs/information' %>
<%= link_to( t('customer.call_runs.call_stat.calculate_stat_link'), customer_calculate_call_stat_path(params[:id]), link_to_html) %>
<%= link_to( t('customer.call_runs.call_stat.call_runs_link'), customer_call_runs_path, link_to_html) %>
</p>
<p>
	
</p>
<%= render(:partial => 'customer/call_runs/call_stat/account_period_choicer', :layout => 'application/layouts/filtr_form_n_columns', :locals => {:form_item => calls_stat_options} ) %> 
<p>
<%= render(:partial => 'customer/call_runs/call_stat/calls_stat_options', :layout => 'application/layouts/filtr_form_inline', :locals => {:form_item => calls_stat_options} ) %> 
</p>
<%= render(:partial => 'customer/call_runs/call_stat/calls_stat', :layout => 'application/layouts/model_table', :locals => {:table => calls_stat}) %>

