<% content_for :title, t('.title') %>

<p>
<%= render :partial => 'result/service_sets/compare/information' %>
<%= link_to(t('.service_sets_result_return_link_to'), service_sets_result_return_link_to, 
	{:class => "btn btn-success", :type =>"button", :remote => true}) %>
</p>
<br />
<%= render(:partial => 'result/service_sets/compare/service_set_choicer', :layout => 'application/layouts/filtr_form_n_columns', :locals => {:form_item => service_set_choicer} ) %>
<p>
<%= render(:partial => 'result/service_sets/compare/comparison_options', :layout => 'application/layouts/filtr_form_inline', :locals => {:form_item => comparison_options} ) %>
</p>
<%= render(:partial => 'result/service_sets/compare/service_sets', :layout => 'application/layouts/model_table', :locals => {:table => comparison_service_sets})%>
     	
