<% title t('.title') %>
<% content_for :hide_title, 'true' %>

<header id="first">
    <div class="header-content header-content-smaller">
        <div class="inner">
            <h1 class="cursive"><%= t('.title') %></h1>
            <h5>Сравнение тарифов помогает проанализировать отличия в стоимости между подобранными тарифами и опциями.
				Возможны два варианта сравнения: по стоимости или по цене. </h5>
            <hr>
        </div>
    </div>
</header>

<div class="panel panel-default">
	<div class="panel-heading"><h4>Описание подбора тарифа</h4></div>

	<% if result_service_sets.model.first.run.comparison_group %>
		<ul class="list-group" >
			<li class="list-group-item"><strong>Название рейтинга: </strong><%= result_service_sets.model.first.run.comparison_group.optimization.name %></li>
			<li class="list-group-item"><strong>Название корзины: </strong><%= result_service_sets.model.first.run.comparison_group.name %></li>
		</ul>
	<% else %>
		<ul class="list-group" >
			<li class="list-group-item"><strong>Сохраненное название подбора: </strong><%= result_service_sets.model.first.run.name %></li>
			<li class="list-group-item"><strong>Сохраненное название звонков: </strong><%= result_service_sets.model.first.run.call_run.name %></li>
		</ul>
	<% end if result_service_sets.model.first %>
	<div class="panel-footer">
		<%= render( :partial => 'result/service_sets/compare/information') + 
			link_to("Назад", service_sets_result_return_link_to, {:class => "btn btn-success", :type =>"button", :remote => true, :rel => "nofollow"}) %>
	</div>
</div>

<div class="panel panel-default" >
	<div class="panel-heading"><h4> Параметры сравнения тарифов</h4></div>
	<div class="panel-body">
		<%= render(:partial => 'result/service_sets/compare/service_set_choicer', :layout => 'application/layouts/filtr_form_n_columns', :locals => {:form_item => service_set_choicer} ) %>
		<p>
		<%= render(:partial => 'result/service_sets/compare/comparison_options', :layout => 'application/layouts/filtr_form_inline', :locals => {:form_item => comparison_options} ) %>
		</p>
	</div>
</div>


<%= render(:partial => 'result/service_sets/compare/service_sets', :layout => 'application/layouts/model_table', :locals => {:table => comparison_service_sets})%>
     	
