<% if yield(:hide_title) != 'true'  %>
	<h1><%= yield(:title) %></h1>
<% end %>

<!--
			<ol class="breadcrumb">
			  <li><% render_breadcrumbs %></li>
			</ol>        	
-->
<div class="content"> 
	<%= user_type if false %>
	<%= render('/application/shared/alerts') if false %>
	<%= "user_signed_in? #{user_signed_in?}" if false %>
	<%= "current_user #{current_user}" if false %>
	<%= "user_session #{user_session}" if false %>
	<%= "current_or_guest_user #{current_or_guest_user}" if false %>
	<%= "#{controller.options[:services_by_operator].values}" if controller.respond_to?(:options) and false %>
	<%= "#{controller.options[:selected_service_categories]}" if controller.respond_to?(:options) and false %>

	<%= render :partial => 'application/shared/alerts' %>
	
	<div id=<%= view_id_name %> >
		  <%= yield %>
	</div>	  
</div>
