<ol class="breadcrumb">
  <%= render_breadcrumbs :tag => :li, :separator => "" %>
</ol>        	
<%= controller.env["SERVER_NAME"] if user_type == :admin %>
<% if yield(:hide_title) != 'true'  %>
	<h1><%= title %></h1>
<% end %>

<div class="content"> 
	<%= user_type if false %>
	<%= render('/application/shared/alerts') if false %>
	<%= "user_signed_in? #{user_signed_in?}" if false %>
	<%= "current_user #{current_user}" if false %>
	<%= "user_session #{user_session}" if false %>
	<%= "current_or_guest_user #{current_or_guest_user}" if false %>
	<%= "#{controller.options[:services_by_operator].values}" if controller.respond_to?(:options) and false %>
	<%= "#{controller.options[:selected_service_categories]}" if controller.respond_to?(:options) and false %>

	<%= render :partial => 'application/shared/alerts' %>
	<%= render :partial => 'application/shared/calculation_status' %>
	
	<div id=<%= view_id_name %> >
		  <%= yield %>
	</div>	  
</div>
