<div class="col-xs-12">
	<div class="navbar navbar-inverse nav-top" role="navigation">
		<div class="container-fluid">
			<%= render 'users/sessions/current_user_info'%>
		</div>
	</div>
	
	<div class="navbar navbar-default nav-bottom" role="navigation">
		<div class="container-fluid">
	  		<%= render('/application/menus/operator_menu') %>
		</div>
	</div>
</div>	

<div id="container" class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<% render('/application/menus/main_top_menu') %> 
			<div class="col-xs-3">
				<h2><%= yield(:menu).blank? ? 'Меню' : yield(:menu) %></h2>
			</div>
			<div class="col-xs-9">
				<h2><%= yield(:title).blank? ? 'Title' : yield(:title) %></h2>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-3">
			<%= render('/application/menus/main_menu') %>
			<br />
			<% render('/application/shared/vk_community_vidget') %>
		</div>					

        <div class="col-xs-9">
        	<div id="main_block_top_row_4" class="content">
        		<div><%= GC.stat if current_user_admin? and false %></div>
				<%= render('/application/shared/alerts') %>
				
				<div id=<%= view_id_name %> >
					  <%= yield %>
				</div>	  
        	</div>
        </div>
	</div>

</div>
	<%= render('/application/shared/yandex_metrika_informet') if ENV["RAILS_ENV"] == "production" %>
<div>
	
</div>

