<div id="container" class="container-fluid">
	<div id="first_row" class="container-fluid" style="min-height: 20px;">
		
	</div>
	<div id="second_row" class="container-fluid">
		<div id="second_row_left_block" class="span10">
			<div id="second_row_left_block_heading" class="brand">
				<h2>Site "Tarifer"</h2>
			</div>
			
		</div>
		<div id="second_row_right_block" class="span2">
			<%= render 'sessions/current_user_info'%>
		</div>
		
	</div>
	<div id="third_row" class="container-fluid">
		<div id="third_row_left_column" class="span3">
				<%= render('/application/menus/user_menu') %>				
				<br />			
				<%= render('/application/menus/admin_menu') if current_user_admin? %>	
		</div>
		<div id="third_row_main_block" class="span12">
			<div id="main_block_top_row_1" class="row-fluid">
				<% if controller.flash[:notice]%>
					<div class="alert alert-success alert-block"><button type="button" class="close" data-dismiss="alert">&times;</button>
						<%= (controller.flash[:notice] )%>
					</div>
				<% end %>
			</div>
			<div id="main_block_top_row_2" class="row-fluid">
				<% if controller.flash[:error]%>
					<div class="alert alert-error alert-block"><button type="button" class="close" data-dismiss="alert">&times;</button>
	   					<%= controller.flash[:error] %>
					</div>
				<% end %>
			</div>
			<div id="main_block_top_row_3" class="row-fluid">
				<% if controller.flash[:alert]%>
					<div class="alert alert-block">
					  <button type="button" class="close" data-dismiss="alert">&times;</button>
	  					<%= controller.flash[:alert]%>				
					</div>
				<% end %>
			</div>
			<div id="main_block_top_row_4" class="row" >
				<div id=<%= view_id_name %> >
					  <%= yield %>
				</div>	  
			</div>
		</div>
	</div>
	
</div>


