<div id="container" class="container-fluid">
	<div id="first_row" class="container-fluid" style="min-height: 20px;">
		
	</div>
	<div id="second_row" class="container-fluid">
		<div id="second_row_left_block" class="span10">
			<div id="second_row_left_block_heading" class="brand">
				<h2>Site "Tarifer"</h2>
			</div>
			
		</div>
		<div id="second_row_right_block" class="span2">
			<%= render 'sessions/current_user_info'%>
		</div>
		
	</div>
	<div id="third_row" class="container-fluid">
		<div id="third_row_left_column" class="span3">
				<%= render('/application/menus/admin_menu') if controller.current_user.name == 'admin'%>				
				<%= render('/application/menus/user_menu') %>				
		</div>
		<div id="third_row_main_block" class="span12">
			<div id="main_block_top_row_1" class="row-fluid">
				<%= (controller.flash[:notice] || '')%>
			</div>
			<div id="main_block_top_row_2" class="row-fluid">
				<%= controller.flash[:error]%>
			</div>
			<div id="main_block_top_row_3" class="row-fluid">
				
			</div>
			<div id="main_block_top_row_4" class="row" >
				<div id=<%= view_id_name %> >
					  <%= yield %>
				</div>	  
			</div>
		</div>
	</div>
	
</div>


